sudo: required
language: c
services:
- docker
compiler:
- gcc
- clang
cache: ccache
env:
  matrix:
    - PYTHON_INTERPRETER=python2
    - PYTHON_INTERPRETER=python3
script:
  - ./.ci/travis.run
after_failure:
  - cat build/test-suite.log
